.share-article .field input,
.edit-article .field input {
    width: 99%;
    background-color: rgba(0, 0, 0, .05) !important;
}

.share-article form textarea ,
.edit-article form textarea {
    width: 99%;
    padding: 0.5em 0 0.5em 0.5em;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.15rem;
    font-family: 'Nunito', sans-serif;
    background-color: rgba(0, 0, 0, .05) !important;
    text-align: justify-all;
}

.share-article .field input:focus,
.edit-article .field input:focus,
.share-article .field textarea:focus,
.edit-article form textarea:focus {
    background-color: rgba(255, 255, 255, 1) !important;
    font-weight: 500;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
}

.share-article .field textarea:focus,
.edit-article form textarea:focus {
    border-color: #453376;
    box-shadow: 0 1px 16px #ced4da;
}

.share-article .page-title,
.available-articles .page-title {
    /*text-shadow: 0 0 10px rgba(0, 0, 0, .2);*/
    font-size: 1.8vmax;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1.5rem 0;
}

.edit-article form .field img {
    margin: 1rem 0;
    max-width: 12vmax;
    max-height: 12vmax;
    border-radius: .3em;
}

.available-articles article {
    border-radius: .3em;
    width: 20%;
    padding: 0 0;
    cursor: pointer;
    margin-bottom: 1em;
    margin-right: .2em;
}

.available-articles article img {
    max-width: 100%;
    border-radius: .2em;
}

.available-articles article p {
    text-align: left;
    font-family: 'Nunito', sans-serif;
    margin-top: 0;
    font-size: 1.1rem;
    font-weight: 700;
}

.available-articles article .body {
    padding: .5rem;
    margin-bottom: 0;
}

.available-articles article .footer {
    border-top: 1px solid rgba(0,0,0,.05);
    padding: 0 .3em;
    height: 40px;
}
.available-articles article .footer .article-info {
    font-size: small;
    padding-top: .25rem;
}

.available-articles article .footer .article-info span {
    font-size: .7rem;
}

.available-articles article .footer .menu {
    padding: .6rem .8rem;
    margin-top: .1em;
    margin-bottom: .1em;
    text-align: center;
    vertical-align: middle;
}
.available-articles article .footer .menu i {
    font-weight: 300;
}